// Definitions for TauDAC
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";
	
	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			
			tau_dac_pins: tau_dac_pins {
				brcm,pins = <22 27>;
				brcm,function = <1>;
				brcm,pull = <0>;
			};
		};
	};
	
	fragment@1 {
		target-path = "/clocks";
		__overlay__ {
		
			osc22: osc@22.5792M {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <22579200>;
			};
			
			osc24: osc@24.576M {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24576000>;
			};
		};
	};
	
	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			wm8741_left: wm8741@1a {
				#sound-dai-cells = <0>;
				compatible = "wlf,wm8741";
				reg = <0x1a>;
				diff-mode = <1>;
				status = "okay";
			};
			
			wm8741_right: wm8741@1b {
				#sound-dai-cells = <0>;
				compatible = "wlf,wm8741";
				reg = <0x1b>;
				diff-mode = <3>;
				status = "okay";
			};
/*			
			si5351: si5351c@60 {
				#address-cells = <1>;
				#size-cells = <0>;
				#clock-cells = <1>;
				compatible = "silabs,si5351c";
 				reg = <0x60>;
 				clocks = <&osc22 0>, <&osc24 0>;
 				clock-names = "22.5792M", "24.576M";
 				status = "okay";
 				
				clkout0 {
					reg = <0>;
					silabs,disable-state = <2>;
					silabs,clock-source = <3>;
				};

				clkout1 {
					reg = <1>;
					silabs,disable-state = <0>;
				};
				
				clkout4 {
					reg = <4>;
					silabs,disable-state = <0>;
				};
			};
*/			
		};
	};

	fragment@3 {
		target = <&sound>;
		__overlay__ {
			compatible = "singularity-audio,tau-dac";
			tau-dac,card-name = "TauDAC V1.0";
			i2s-controller = <&i2s>;
			
			pinctrl-names = "default";
			pinctrl-0 = <&tau_dac_pins>;
			gpio-mclk-sel = <&gpio 22 0>;
			gpio-mclk-ena = <&gpio 27 0>;
/*			
			clocks = <&si5351 0>, <&si5351 2>, <&si5351 6>,
			         <&si5351 7>, <&si5351 3>, <&si5351 5>;
			clock-names = "lrclk-cpu", "lrclk-dacl", "lrclk-dacr",
			              "bclk-cpu",  "bclk-dacl",  "bclk-dacr";
*/			              
			codecs = <&wm8741_left>, <&wm8741_right>;
			status = "okay";
		};
	};

	fragment@4 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};
};
