// Definitions for TauDAC
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";
	
	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			
			tau_dac_pins: tau_dac_pins {
				brcm,pins = <22 27>;
				brcm,function = <1>;
				brcm,pull = <0>;
			};
		};
	};
	
	fragment@1 {
		target-path = "/clocks";
		__overlay__ {

			xtal_ref: xtal_ref {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <0>; /* not mounted */
			};
			
			clkin_ref: clkin_ref {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <0>; /* frequency is set at runtime */
			};
/*
			osc22: osc22579200 {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <22579200>;
			};

			osc24: osc24576000 {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24576000>;
			};
*/
		};
	};
	
	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			wm8741_left: wm8741@1a {
				#sound-dai-cells = <0>;
				compatible = "wlf,wm8741";
				reg = <0x1a>;
				diff-mode = <1>;
				status = "okay";
			};

			wm8741_right: wm8741@1b {
				#sound-dai-cells = <0>;
				compatible = "wlf,wm8741";
				reg = <0x1b>;
				diff-mode = <3>;
				status = "okay";
			};

			si5351: si5351c@60 {
				#address-cells = <1>;
				#size-cells = <0>;
				#clock-cells = <1>;
				compatible = "silabs,si5351c";
				reg = <0x60>;
				clocks = <&xtal_ref>, <&clkin_ref>;
				clock-names = "xtal", "clkin";
				status = "okay";

				clkout0 {
					reg = <0>;
					silabs,disable-state = <2>;
					silabs,clock-source = <3>;
				};

				clkout1 {
					reg = <1>;
					silabs,disable-state = <0>;
				};

				clkout2 {
					reg = <2>;
					silabs,disable-state = <2>;
					silabs,clock-source = <3>;
				};

				clkout3 {
					reg = <3>;
					silabs,disable-state = <2>;
					silabs,clock-source = <3>;
				};

				clkout4 {
					reg = <4>;
					silabs,disable-state = <0>;
				};

				clkout5 {
					reg = <5>;
					silabs,disable-state = <2>;
					silabs,clock-source = <3>;
				};

				clkout6 {
					reg = <6>;
					silabs,disable-state = <2>;
					silabs,clock-source = <3>;
				};

				clkout7 {
					reg = <7>;
					silabs,disable-state = <2>;
					silabs,clock-source = <3>;
				};
			};
		};
	};

	fragment@3 {
		target = <&sound>;
		__overlay__ {
			compatible = "singularity-audio,tau-dac";
			tau-dac,card-name = "TauDAC V1.0";
			i2s-controller = <&i2s>;
			
			pinctrl-names = "default";
			pinctrl-0 = <&tau_dac_pins>;
			gpio-mclk-sel = <&gpio 22 0>;
			gpio-mclk-ena = <&gpio 27 0>;

			clocks      = <&clkin_ref>,
			              <&si5351 7>, 
			              <&si5351 3>, 
			              <&si5351 5>,
			              <&si5351 0>,
			              <&si5351 2>, 
			              <&si5351 6>;
			clock-names = "mclk",
			              "bclk-cpu",  
			              "bclk-dacl",  
			              "bclk-dacr",
			              "lrclk-cpu", 
			              "lrclk-dacl", 
			              "lrclk-dacr";

			codecs = <&wm8741_left>, <&wm8741_right>;
			status = "okay";
		};
	};

	fragment@4 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};
};
